:root {
	background: skyblue;
}

body :nth-child(2) {
	color: white;
	background: black;
}

body :nth-child(5) {
	color: red;
}

ul {
	width: 55%;
}

ul :first-child, ul :last-child {
	background: white;
	color: black;
}

ul :nth-child(2), ul :nth-child(4) {
	background: slategray;
	color: white;
}

ul :nth-child(3) {
	background: pink;
}