/*  your css code here. If applicable */
.first-child{
	background-color:white;
	
	
}

.nth-child{
	background-color:slategray;
}
.last-child{
	background-color:white;
}
.root{
	background-color:skyblue;
}